<h1><%= title %></h1>

<form action="/games/add" method="POST">
  <label for="title">
    Title
    <input type="text" name="title" id="title" required>
  </label>

  <label for="publisher">
    Publisher
    <select name="publisher" id="publisher" required>
      <option selected></option>
      <% for (const publisher of publishers) { %>
        <option value="<%= publisher.id %>"><%= publisher.name %></option>
      <% } %>
    </select>
  </label>

  <fieldset>
    <legend>Genres (select at least one)</legend>
    <% for (const genre of genres) { %>
      <label for="genre-<%= genre.id %>">
        <%= genre.name %>
        <input type="checkbox" name="genre" value="<%= genre.id %>" id="genre-<%= genre.id %>" required>
      </label>
    <% } %>
  </fieldset>

  <button type="submit">Add</button>
</form>

<script>
  const checkboxes = document.querySelectorAll('input[type="checkbox"]');
  checkboxes.forEach((checkbox) => checkbox.addEventListener('change', () => {
    let checked = false;
    for (const checkbox of checkboxes) {
      if (checkbox.checked) {
        checked = true;
        break;
      }
    }
    for (const checkbox of checkboxes) {
      checked
        ? checkbox.removeAttribute('required')
        : checkbox.setAttribute('required', '');
    }
  }));
</script>
