<h1><%= publisher.name %></h1>

<a href="/games/add"><button type="button">Add Game</button></a>

<% if (publisher.games.length) { %>
  <table>
    <caption>Games</caption>
    <thead>
      <tr>
        <th>Title</th>
        <th>Genres</th>
      </tr>
    </thead>
    <tbody>
      <% for (const game of publisher.games) { %>
        <tr>
          <td><a href="/games/<%= game.id %>"><%= game.title %></a></td>
          <td>
            <ul>
              <% for (const genre of game.genres) { %>
                <li><a href="/genres/<%= genre.id %>"><%= genre.name %></a></li>
              <% } %>
            </ul>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
<% } else { %>
  <p>
    Unfortunately there are no games yet, but you can always add one yourself!
  </p>
<% } %>

<a href="/publishers/<%= publisher.id %>/edit">
  <button type="button">Edit</button>
</a>

<form action="/publishers/<%= publisher.id %>/delete" method="POST">
  <button type="submit">Delete</button>
</form>
