<h1><%= genre.name %></h1>

<a href="/games/add"><button type="button">Add Game</button></a>

<% if (genre.games.length) { %>
  <table>
    <caption>Games</caption>
    <thead>
      <tr>
        <th>Title</th>
        <th>Publisher</th>
      </tr>
    </thead>
    <tbody>
      <% for (const game of genre.games) { %>
        <tr>
          <td><a href="/games/<%= game.id %>"><%= game.title %></a></td>
          <td>
            <a href="/publishers/<%= game.publisher.id %>">
              <%= game.publisher.name %>
            </a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
<% } else { %>
  <p>
    Unfortunately there are no games yet, but you can always add one yourself!
  </p>
<% } %>
